<!doctype html>
<style>input,textarea,button { display: block; }</style>
<meta charset=utf-8>
<title>Create a node</title>

<form method=post>
    <input name=title placeholder=Title>
    <input name=link placeholder=Hyperlink>
    <textarea name=description placeholder=Description></textarea>
    <button>Create</button>
</form>

